<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melly.myweb.board.comment.IBoardCommentMybatisMapper">
    <insert id="insert" parameterType="BoardCommentDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board_comment_tbl ( comment
            , boardId
            , likeQty
            , createId
            , createDt
            , deleteFlag)
        VALUES ( #{comment}
        , #{boardId}
        , 0
        , #{createId}
        , #{createDt}
        , false)
    </insert>

    <update id="update" parameterType="BoardCommentDto">
        UPDATE board_comment_tbl
        SET comment = #{comment}
        , boardId = #{boardId}
        , updateId = #{updateId}
        , updateDt = #{updateDt}
        WHERE id = #{id}
    </update>

    <update id="updateDeleteFlag" parameterType="BoardCommentDto">
        UPDATE board_comment_tbl
        SET deleteId = #{deleteId}
        , deleteDt = #{deleteDt}
        , deleteFlag = #{deleteFlag}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM board_comment_tbl
        WHERE id = #{id}
    </delete>

    <select id="findById" resultType="BoardCommentDto">
        SELECT id
        , comment
        , boardId
        , likeQty
        , createId
        , createDt
        , updateId
        , updateDt
        , deleteId
        , deleteDt
        , deleteFlag
        From board_comment_tbl
        WHERE id = #{id}
        AND deleteFlag = false
    </select>

    <select id="findAllByBoardId" parameterType="SearchBoardCommentDto" resultType="BoardCommentDto">
        SELECT bc.id
        , bc.comment
        , bc.boardId
        , bc.likeQty
        , bc.createId
        , bc.createDt
        , ct.nickname AS createName
        , bc.updateId
        , bc.updateDt
        , ut.nickname AS updateName
        , bc.deleteId
        , bc.deleteDt
        , dt.nickname AS deleteName
        , bc.deleteFlag
        From board_comment_tbl AS bc
                 LEFT JOIN comment_like_tbl AS cl
                    ON cl.commentTbl = #{commentTbl} AND cl.createId = #{createId} AND bc.id = cl.commentId
                 LEFT OUTER JOIN user_tbl AS ct ON bc.createId = ct.id
                 LEFT OUTER JOIN user_tbl AS ut ON bc.updateId = ut.id
                 LEFT OUTER JOIN user_tbl AS dt ON bc.deleteId = dt.id
        WHERE bc.boardId = #{boardId}
          AND bc.deleteFlag = false
        ORDER BY ${orderByWord}
            LIMIT #{rowsOnePage} OFFSET #{firstIndex}
    </select>

    <select id="countAllByBoardId" parameterType="SearchQueryDto" resultType="Integer">
        SELECT COUNT(*)
        FROM board_comment_tbl
        WHERE boardId = #{searchTitle}
        AND deleteFlag = false
    </select>

    <update id="addLikeQty">
        UPDATE board_comment_tbl
        SET likeQty = likeQty + 1
        WHERE id = #{id}
          AND deleteFlag = false
    </update>

    <update id="subLikeQty">
        UPDATE board_comment_tbl
        SET likeQty = likeQty - 1
        WHERE id = #{id}
          AND deleteFlag = false
    </update>
</mapper>
