 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<script src="/js/jquery-3.7.1.min.js"></script>
<body>
    <div>
        <h2>로그인</h2>
        <form id="LoginForm" method="post" action="/selogin/signin">
            <label for="loginId">로그인 아이디 : </label>
            <input type="text" id="loginId" name="loginId" required placeholder="ID 입력">
            <label for="password">비밀번호 : </label>
            <input type="password" id="password" name="password" required placeholder="PW 입력">

            <input type="submit" id="formSubmit"  onclick="$.login()" value="로그인">

            <p class="loginForm_link">계정이 없으신가요?<a href="/selogin/signup" id="show-signup">회원가입</a></p>
            <p class="loginForm_link">ID를 잊으셨나요?<a href="/selogin/findId" id="show-findId">ID 찾기</a></p>
            <p class="loginForm_link">PW를 잊으셨나요?<a href="/selogin/resetpw" id="show-findPw">PW 초기화</a></p>
        </form>
    </div>
</body>
<script>
    $.login = function(){
        let loginId = $("#loginId").val();
        let password = $("#password").val();

        $.ajax({
            url: "/api/v1/login/signin",
            type: "POST",
            dataType: "JSON",
            contentType: "application/json; charset=UTF-8",
            data: JSON.stringify({
                loginId: loginId,
                password: password
            })
        })
            .done(function(data, status, xhr) {
                // 성공 시 실행
                document.location.href = "/";
            })
            .fail(function(jqXHR, status, errorThrown) {
                // 실패 시 실행
                alert("아이디와 비밀번호를 확인하세요");
            });
    }
</script>
</html>