<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="find-pw-form">
        <h2 id="find-pw-title">비밀번호 초기화</h2>
        <div id="findPwForm">
            <div class="form-group">
                <label for="loginId">로그인 아이디 : </label>
                <input type="text" id="loginId" name="loginId" required><br><br>
            </div>
            <div class="form-group">
                <label for="email">이메일 : </label>
                <input type="email" id="email" name="email" required><br><br>
            </div>
            <div class="form-group">
                <label for="name">이름 : </label>
                <input type="text" id="name" name="name" required><br><br>
            </div>
            <button type="button" id="find-pw-btn" onclick="$.findPW()">비밀번호 초기화</button>
        </div>
        <div id="result"></div>
        <p></p>
        <p>로그인 하러 가시겠습니까?<a href="/selogin/login" id="show-login">로그인</a></p>
    </div>
</body>
</html>