<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세내용</title>
    <link rel="stylesheet" href="/css/boardView.css">
    <link rel="stylesheet" href="/css/boardComment.css">
</head>
<body>
    <ul id="board_view">
        {{#boardView}}
        <li>
            <span>id : {{id}}</span>
            <span>title : {{title}}</span>
            <span>content : {{content}}</span>
            <span>viewqty : {{viewQty}}</span>
            <span>likeqty : {{likeQty}}</span>
            <span>createName : {{createName}}</span>
            <span>createdt : {{createDt}}</span>
            <!-- updateDt가 null이면 다른 메시지 표시 -->
            <span>updateDt : {{#updateDt}}{{updateDt}}{{/updateDt}}{{^updateDt}}수정하지 않은 원본 글{{/updateDt}}</span>
        </li>
        {{/boardView}}
   </ul>

    <div id="show_file">
        {{#files}}
        <img src="/api/board_file/viewimage/{{id}}" alt="{{name}}"/>
        {{/files}}
    </div>

    <div>
        <img id="likeIcon" width="40px" alt="Like" onclick="$.likeItem();"/>
        <span id="likeQty">{{boardView.likeQty}}</span>
    </div>
    <button onclick="goBack();">뒤로</button>
    <div id="modifyDeleteBtns" class ="hidden">
        <button onclick="$.showModalBoardUpdate();">수정</button>
        <button onclick="boardDelete();">삭제</button>
    </div>


    <div id="modal_box_board_update" style="display: none">
        <fieldset>
            <div class="row">
                <h2>게시글 제목</h2>
                <div>
                    <label for="title">게시글 제목</label>
                    <input type="text" id="title" name="title" placeholder="게시글 제목을 입력하세요.">
                </div>
                <h2>본문</h2>
                <div>
                    <label for="content"> 본문 </label>
                    <textarea id="content" name="content"></textarea>
                </div>
                <div id="modal_box_file"></div>
                <div>
                    <div>첨부파일 추가</div>
                    <div><input type="file" id="file_add" name="file_add" onchange="$.file_add(this);" multiple /></div>
                </div>
                <div id="show_add_newFile">
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div>
                <button id="board_update" onclick="$.board_update();">수정</button>
            </div>
            <div>
                <button class="modalCloseButton">Close</button>
            </div>
        </div>
    </div>

    <fieldset>
        <label for="comment"></label> <input type="text" id="comment" name="comment" maxlength="100"/>
        <button id="insertComment" onclick="$.insertComment();">댓글추가</button>
    </fieldset>

    <fieldset id="commentListField">
        <div id="commentList"></div>
    </fieldset>

    <div id="modal_box_view" style="display: none">
        <h2>댓글 수정 화면</h2>
        <fieldset>
            <div class="row">
                <h2>본문</h2>
                <div>
                    <label for="commentListContent"></label>
                    <textarea id="commentListContent" name="commentListContent"></textarea>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div>
                <button id="updateMBtn">수정</button>
            </div>
            <div>
                <button class="modalCloseButton">Close</button>
            </div>
        </div>
    </div>
    <div class="modal_bg" style="display: none"></div>

<script src="/js/jquery-3.7.1.min.js"></script>
</body>
<script>
    $(function () {
        setCreateUserByButton()

        let selfLike = "{{boardView.likeRecord}}" === 'true'; // 불리언 값으로 변환
        var unlikeIcon = "/svg/heartOff.svg";
        var likeIcon = "/svg/heartOn.svg";
        $("#likeIcon").attr("src", (selfLike ? likeIcon : unlikeIcon));

        let id = {{boardView.id}};
        $.getBoardCommentList(id);

    });

    const goBack = () => {
        history.back();
    }

    // 게시글 파일 업데이트 변수
    let fileArrayView = new Array();
    {{#files}}
    // 각 파일 객체를 fileArrayView에 추가
    fileArrayView.push({
        id: {{id}},
        name: '{{name}}',  // 문자열일 경우 따옴표 처리
        deleteFlag: {{deleteFlag}}
    });
    {{/files}}

    let fileArrayAdd = new Array();


    // 게시글 수정 삭제 버튼 존재 여부
    function setCreateUserByButton() {
        const createName = "{{boardView.createName}}";
        const loggedInUser = "{{webUser.nickname}}";

        if (createName === loggedInUser) {
            $("#modifyDeleteBtns").removeClass('hidden');
        }
    }

    // 게시글 삭제
    function boardDelete() {
        let id = {{boardView.id}}
        if (confirm(id+"번 게시글을 삭제 하시겠습니까 ?")) {
            window.location.href = "/board/board_delete?id=" + id;
        }
    }

    // 게시글 업데이트_모달창 보여주기
    $.showModalBoardUpdate = function (){
        let title = "{{boardView.title}}";
        let content = "{{boardView.content}}";
        $("#title").val(title);
        $("#content").val(content);
        $('#modal_box_board_update').fadeIn(1000);
        show_boardFiles();
        $('.modal_bg').fadeIn(1000);

        // if (confirm(id+"번 게시글을 수정 하시겠습니까 ?")) {
        //     window.location.href = "/board/board_update_page?id=" + id;
        // }
    };

    function show_boardFiles(){
        $("#modal_box_file").empty(); // 기존 내용 제거
        let html="";
        for(const files of fileArrayView){
            html+=`<div id="file_${files.id}"><span>${files.name}</span><button onclick="file_delete(${files.id})">삭제하기</button></div>`;
            $("#modal_box_file").append(html);
        }
    }


    // 게시글 업데이트
    $.board_update = function (){
        let id = {{boardView.id}};
        let title = $("#title").val();
        let content = $("#content").val();
        if (!confirm(name + " 수정 하시겠습니까 ?")) {
            return;
        }
        let formData = new FormData();
        for ( const file of fileArrayAdd ) {
            formData.append("newFiles", file);
            // 기존 게시글에 첨부파일을 새로 추가하는 경우
        }
        formData.append("boardDto", new Blob([JSON.stringify({"id": id, "title": title, "content": content})], {type:"application/json"}))
        formData.append("boardFiles", new Blob([JSON.stringify(fileArrayView)], {type:"application/json"}));

        $.ajax({
            url: "/api/board/update/"+id,
            type: "PATCH",
            datatype: "JSON",
            data: formData,
            contentType: false,
            processData: false,
        }).done(function (data, status, xhr) {
            console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
            // update 성공 완료시
            $("#show_add_newFile").children().remove();
            window.location.href=`/board/board_view?id=${data.responseData.id}`;
            $("#title").val("");
            $("#content").val("");
            $(".modalCloseButton").trigger("click");

            // class="modalCloseButton" 요소를 클릭하는 이벤트를 발생한다.

        }).fail(function (jqXHR, status, errorThrown) {
            console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
            alert("실패 했습니다. " + jqXHR.responseJSON.message);
        });

    }

    // 게시글 수정 시 파일추가
    $.file_add = function(inputFile) {
        let num = 0;
        for ( const newFile of inputFile.files ) {
            let fileId = `newFile_${num}`; // 고유 ID 생성
            let html = "";

            html += `<div id="${fileId}">`;  // div의 ID에 고유 ID 삽입
            html += `<div>${newFile.name} <button onclick="newFile_delete('${fileId}')">삭제하기</button></div>`;
            html += `</div>`;

            $("#show_add_newFile").append(html);

            // newFile에 id를 포함시키는 부분
            newFile.id = fileId;  // newFile 객체에 id 속성 추가

            fileArrayAdd.push(newFile);
            num++;
        }
        $("#file_add").val("");
    }


    // 게시글 수정 시 기존의 파일 삭제 할 경우
    function file_delete(id){
        fileArrayView = fileArrayView
            .map(file => {
                // 파일의 deleteFlag를 true로 설정
                if (file.id === id) {
                    file.deleteFlag = true;
                }
                return file;
            })
        $(`#file_${id}`).remove();
    }

    // 게시글 수정 시 파일을 추가 하고 다시 삭제 할 경우
    function newFile_delete(fileId){
        fileArrayAdd = fileArrayAdd.filter(newFile => newFile.id !== fileId);  // fileId를 기준으로 파일 삭제
        $(`#${fileId}`).remove();  // DOM에서 해당 파일 삭제
    }


    // 게시글 좋아요 기능
    $.likeItem = function (){
        let likeIcon = $("#likeIcon");
        let src = likeIcon.attr("src");
        let bOff = src.includes("Off");
        let id = {{boardView.id}}
        if (id <= 0) {
            return;
        }
        let url = bOff ? "/api/board/like/" + id : "/api/board/unlike/" + id;

        $.ajax({
            url: url,
            type: "GET",
            datatype: "JSON",
            contentType: "application/json; charset=UTF-8",
        }).done(function (data, status, xhr) {
            console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
            if (status === "success") {
                //좋아요 개수 업데이트
                $("#likeQty").text(data.responseData.likeQty);

                // 좋아요 상태에 따른 아이콘 업데이트
                let count = data.responseData.likeRecord;
                if (count == 0) {
                    likeIcon.attr("src", "/svg/heartOff.svg");
                } else {
                    likeIcon.attr("src", "/svg/heartOn.svg");
                }
            }
        }).fail(function (jqXHR, status, errorThrown) {
            console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
            alert("실패 했습니다. " + jqXHR.responseJSON.message);
        });
    }

    // 댓글 추가
    $.insertComment = function() {
        let id = {{boardView.id}};
        let comment = $("#comment").val();
        if (comment === "") {
            alert("댓글 내용을 입력해주세요.");
            return;
        }
        if (!confirm("댓글을 추가 하시겠습니까?")) {
            return;
        }
        $.ajax({
            url: "/api/board_comment/insert",
            type: "POST",
            datatype: "JSON",
            data: JSON.stringify({
                "boardId": id,
                "comment": comment
            }),
            contentType: "application/json; charset=UTF-8",
        }).done(function (data, status, xhr) {
            console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
            $("#comment").val("");
            $.getBoardCommentList(id, true);
        }).fail(function (jqXHR, status, errorThrown) {
            console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
            let message = getErrorMessage(jqXHR.responseJSON);
            alert("댓글 추가를 실패했습니다. " + message);
        });
    }

    // 댓글 조회
    $.getBoardCommentList = function (id) {
        if (id <= 0) {
            return;
        }
        $.ajax({
            url: "/api/board_comment/findbyboardid",
            type: "POST",
            datatype: "JSON",
            data: JSON.stringify({
                "boardId": id
            }),
            contentType: "application/json; charset=UTF-8",
        }).done(function (data, status, xhr) {
            console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
            if (status === "success") {
                $.showBoardCommentList(data.responseData);
            }
        }).fail(function (jqXHR, status, errorThrown) {
            console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
            alert("댓글 보기 실패했습니다. " + jqXHR.responseJSON.message);
        });
    }

    // 댓글 표시
    $.showBoardCommentList = function (commentList) {
        if (commentList == null) {
            return;
        }
        $("#commentList").children().remove();
        let html = "";
        for (const commentItem of commentList) {
            let id = commentItem.id;
            let comment = commentItem.comment;
            let commentId = commentItem.commentId;
            let boardId = commentItem.boardId;
            let likeQty = commentItem.likeQty;
            let createDt = commentItem.createDt;
            let createName = commentItem.createName;
            const loggedInUser = "{{webUser.nickname}}";
            html += `<div id=commentList_${id} class="commentList">`;
            html += `<div>댓글 내용 :  ${comment}</div>`
            html += `<div>작성자 : ${createName}</div>`;
            html += `<div>작성일 : ${createDt}</div>`;

            if( createName == loggedInUser){
                html += `<div class="updateBtn" onclick=$.showViewModalButton(${id})>댓글 수정</div><span class="deleteBtn" onclick=$.deleteComment(${id})>댓글 삭제(Ｘ)</span>
                        </div>`;
            }

            if ( commentId === undefined || commentId === null ) {
                html += `<div>추천 누르기 <img id='commentLikeIcon_${id}' src='/svg/heartOff.svg' width='20px' alt='Like' onClick=$.commentLikeItem(${id})>
                            <span id=likeListQty_${id}>추천 수 : ${likeQty}</span> </div>`;
            } else {
                html += `<div>추천 누르기 <img id='commentLikeIcon_${id}' src='/svg/heartOn.svg' width='20px' alt='Like' onClick=$.commentLikeItem(${id})>
                            <span id=likeListQty_${id}>추천 수 : ${likeQty}</span></div>`;
            }

            html += `</div>`;
        }
        $("#commentList").append(html);
    }
    // 댓글 수정,삭제 버튼 여부
    function showCommentBtns() {
        const createName = "{{boardView.createName}}";
        const loggedInUser = "{{webUser.nickname}}";

        if (createName === loggedInUser) {
            $("#modifyDeleteBtns").removeClass('hidden');
        }
    }
    // 댓글 수정
    $.updateComment = function (id) {
        if (id <= 0) {
            return;
        }
        let commentListContent = $("#commentListContent").val();
        let boardId = {{boardView.id}};
        if (!commentListContent || commentListContent === "") {
            alert("댓글 내용을 입력하세요.");
            return;
        }
        if (!confirm("댓글을 수정 하시겠습니까 ?")) {
            return;
        }
        $.ajax({
            url: "/api/board_comment/update/" + id,
            type: "PATCH",
            datatype: "json",
            data: JSON.stringify({"id": id, "comment": commentListContent, "boardId": boardId}),
            contentType: "application/json; charset=UTF-8",
        }).done(function (data) {
            console.log("done:data=", data);
            $.getBoardCommentList(data.responseData.boardId);

        }).fail(function (jqXHR, status, errorThrown) {
            console.log("fail:jqXHR=", jqXHR, ", status=", status, ", errorThrown=", errorThrown);
            alert("댓글 수정 실패 했습니다. " + jqXHR.responseJSON.message);
        });
    }

    $.showViewModalButton = function (commentId){
        // id="modal_box_view" 요소와 class="modal_bg" 요소를 1000ms 동안 서서히 보여준다.
        $('#modal_box_view').fadeIn(1000);
        $('.modal_bg').fadeIn(1000);
        $("#updateMBtn").off("click").click(function () {
            $.updateComment(commentId);
        });
    };

    $('.modalCloseButton').click(function () {
        // id="modal_box_add", id="modal_box_view" 요소와 class="modal_bg" 요소를 서서히 감춘다.
        $('#modal_box_view').fadeOut();
        $('#modal_box_board_update').fadeOut();
        $('.modal_bg').fadeOut();
    });

    // 댓글 삭제
    $.deleteComment = function (id){
        if (id <= 0) {
            return;
        }
        if (!confirm("댓글을 삭제 하시겠습니까 ?")) {
            return;
        }
        $.ajax({
            url: "/api/board_comment/deleteFlag/"+id,
            type: "DELETE",
            datatype: "JSON",
            data: JSON.stringify({"id": id, "deleteFlag": true}),
            contentType: "application/json; charset=UTF-8",
        }).done(function (data, status, xhr) {
            console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
            if (status === "success") {
                $.deleteCommentList(id);
            }
        }).fail(function (jqXHR, status, errorThrown) {
            console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
            alert("댓글 삭제 실패 했습니다. " + jqXHR.responseJSON.message);
        });
    }

    // 댓글 리스트 행 삭제(db에 남는 이유 >> 데이터 보존)
    $.deleteCommentList = function (id){
        $("#commentList_"+id).remove();
    }

    // 댓글 좋아요 기능
    $.commentLikeItem = function (id){
        let commentLikeIcon = $(`#commentLikeIcon_${id}`);
        let src = commentLikeIcon.attr("src");
        let bOff = src.includes("Off");
        if (id <= 0) {
            return;
        }
        let url = bOff ? "/api/board_comment/like/" + id : "/api/board_comment/unlike/" + id;

        $.ajax({
            url: url,
            type: "GET",
            datatype: "JSON",
            contentType: "application/json; charset=UTF-8",
        }).done(function (data, status, xhr) {
            console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
            if (status === "success") {
                //좋아요 개수 업데이트
                $(`#likeListQty_${id}`).text(`추천 수 : ${data.responseData.likeQty}`);

                // 좋아요 상태에 따른 아이콘 업데이트
                if (data.responseData.commentLikeRecoder === false) {
                    commentLikeIcon.attr("src", "/svg/heartOff.svg");
                } else {
                    commentLikeIcon.attr("src", "/svg/heartOn.svg");
                }
            }
        }).fail(function (jqXHR, status, errorThrown) {
            console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
            alert("실패 했습니다. " + jqXHR.responseJSON.message);
        });
    }
</script>
</html>