<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세내용</title>
    <link rel="stylesheet" href="/css/boardView.css">
</head>
<body>
    <ul id="board_view">
        {{#boardView}}
        <li>
            <span>id : {{id}}</span>
            <span>title : {{title}}</span>
            <span>content : {{content}}</span>
            <span>viewqty : {{viewQty}}</span>
            <span>likeqty : {{likeQty}}</span>
            <span>createName : {{createName}}</span>
            <span>createdt : {{createDt}}</span>
            <!-- updateDt가 null이면 다른 메시지 표시 -->
            <span>updateDt : {{#updateDt}}{{updateDt}}{{/updateDt}}{{^updateDt}}수정하지 않은 원본 글{{/updateDt}}</span>
        </li>
        {{/boardView}}
   </ul>
    <div>
        <img id="likeIcon" width="40px" alt="Like" onclick="$.likeItem();"/>
        <span id="likeQty">{{boardView.likeQty}}</span>
    </div>
    <button onclick="goBack();">뒤로</button>
    <div id="modifyDeleteBtns" class ="hidden">
        <button onclick="boardUpdate();">수정</button>
        <button onclick="boardDelete();">삭제</button>
    </div>


<script src="/js/jquery-3.7.1.min.js"></script>
</body>
<script>
    $(function () {
        setCreateUserByButton()

        let selfLike = "{{boardView.updateDt}}" * 1;
        var unlikeIcon = "/svg/heartOff.svg";
        var likeIcon = "/svg/heartOn.svg";
        $("#likeIcon").attr("src", (selfLike > 0 ? likeIcon : unlikeIcon));
    });

    const goBack = () => {
        history.back();
    }

    function boardUpdate() {
        let id = {{boardView.id}}
        if (confirm(id+"번 게시글을 수정 하시겠습니까 ?")) {
            window.location.href = "/board/board_update_page?id=" + id;
        }
    }
    function boardDelete() {
        let id = {{boardView.id}}
        if (confirm(id+"번 게시글을 삭제 하시겠습니까 ?")) {
            window.location.href = "/board/board_delete?id=" + id;
        }
    }
    // 수정 삭제 버튼 존재 여부
    function setCreateUserByButton() {
        const createName = "{{boardView.createName}}";
        const loggedInUser = "{{webUser.nickname}}";

        if (createName === loggedInUser) {
            $("#modifyDeleteBtns").removeClass('hidden');
        }
    }

    $.likeItem = function (){
        let likeIcon = $("#likeIcon");
        let src = likeIcon.attr("src");
        let bOff = src.includes("Off");
        let id = {{boardView.id}}
        if (id <= 0) {
            return;
        }
        let url = bOff ? "/api/board/like/" + id : "/api/board/unlike/" + id;

        $.ajax({
            url: url,
            type: "GET",
            datatype: "JSON",
            contentType: "application/json; charset=UTF-8",
        }).done(function (data, status, xhr) {
            console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
            if (status === "success") {
                //좋아요 개수 업데이트
                $("#likeQty").text(data.responseData.likeQty);

                // 좋아요 상태에 따른 아이콘 업데이트
                let count = data.responseData.updateDt * 1;
                if (count > 0) {
                    likeIcon.attr("src", "/svg/heartOn.svg");
                } else {
                    likeIcon.attr("src", "/svg/heartOff.svg");
                }
            }
        }).fail(function (jqXHR, status, errorThrown) {
            console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
            alert("실패 했습니다. " + jqXHR.responseJSON.message);
        });
    }
</script>
</html>