<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세내용</title>
    <link rel="stylesheet" href="/css/boardView.css">
</head>
<body>
    <ul id="board_view">
        {{#boardView}}
        <li>
            <span>id : {{id}}</span>
            <span>title : {{title}}</span>
            <span>content : {{content}}</span>
            <span>viewqty : {{viewQty}}</span>
            <span>likeqty : {{likeQty}}</span>
            <span>createName : {{createName}}</span>
            <span>createdt : {{createDt}}</span>
            <!-- updateDt가 null이면 다른 메시지 표시 -->
            <span>updateDt : {{#updateDt}}{{updateDt}}{{/updateDt}}{{^updateDt}}수정하지 않은 원본 글{{/updateDt}}</span>
        </li>
        {{/boardView}}
   </ul>
    <button onclick="goBack();">뒤로</button>
    <div id="modifyDeleteBtns" class ="hidden">
        <button onclick="boardUpdate();">수정</button>
        <button onclick="boardDelete();">삭제</button>
    </div>


<script src="/js/jquery-3.7.1.min.js"></script>
</body>
<script>
    $(function () {
        setCreateUserByButton();
    });

    const goBack = () => {
        history.back();
    }

    function boardUpdate() {
        let id = {{boardView.id}}
        if (confirm(id+"번 게시글을 수정 하시겠습니까 ?")) {
            window.location.href = "/board/board_delete?id=" + id;
        }
    }
    function boardDelete() {
        let id = {{boardView.id}}
        if (confirm(id+"번 게시글을 삭제 하시겠습니까 ?")) {
            window.location.href = "/board/board_delete?id=" + id;
        }
    }
    // 수정 삭제 버튼 존재 여부
    function setCreateUserByButton() {
        const createName = "{{boardView.createName}}";
        const loggedInUser = "{{webUser.nickname}}";

        if (createName === loggedInUser) {
            $("#modifyDeleteBtns").removeClass('hidden');
        }
    }

</script>
</html>