<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판 목록</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
    <div>
        <h1>자유 게시판</h1>
        <p>자유롭게 글을 남겨 보세요</p>
    </div>
    <div>
    </div>
    <div>
        <ul id="BoardList"></ul>
        <button onclick="location.href='/board/board_insert_page'">게시글 등록</button><a href="/board/board_insert_page">게시글 등록</a>
    </div>
    <button onclick="goBack();">뒤로</button>
</body>
<script>
    $(function () {
       searchBoardList();
    })

   function searchBoardList(){
        $.ajax({    // jQuery Ajax 비동기 서버와 통신
            url: "/api/board/showBoardList",  // 서버 주소
            type: "GET",   // method 방식
            datatype: "JSON",   // 전송하는 데이터 방식
            data: null,
            // 전송하는 실제 데이터 JSON 을 사용했다.
            contentType: "application/json; charset=UTF-8", // 응답받는 데이터 형식
        }).done(function (data, status, xhr) {
            console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
            if (status === "success") {
                $.showBoardList(data.responseData);
            }
        }).fail(function (jqXHR, status, errorThrown) {
            console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
            alert("검색을 실패했습니다. " + jqXHR.responseJSON.message);
        });
    }
    $.showBoardList = function (boardList) {
        const list = $("#BoardList");
        list.children().remove();
        for (let i = 0; i < boardList.length; i++) {
            let id = boardList[i].id;
            let title = boardList[i].title;
            let content = boardList[i].content;
            let viewQty = boardList[i].viewQty;
            let likeQty = boardList[i].likeQty;
            let createName = boardList[i].createName;
            let createDt = boardList[i].createDt;
            let updateDt = boardList[i].updateDt;
            let strLi = `<a href="board_view?id=${id}">
                         <li><div><span>id : ${id}</span>
                                  <span>title : ${title}</span>
                                  <span>content : ${content}</span>
                                  <span>viewqty : ${viewQty}</span>
                                  <span>likeqty : ${likeQty}</span>
                                  <span>createName : ${createName}</span>
                                  <span>createdt : ${createDt}</span>
                                  <span>updateDt : ${updateDt}</span></div></li></a>`;
            list.append(strLi);
        }
    }
    const goBack = () => {
        location.href="/";
    }
</script>
</html>