<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판 목록</title>
</head>
<body>
    <div>
        <h1>자유 게시판</h1>
        <p>자유롭게 글을 남겨 보세요</p>
    </div>
    <div>
        <label for="searchTitle">검색창</label>
        <input id="searchTitle" name="searchTitle" type="text" value="">
        <button onclick="$.searchBoardList(1)">검색</button>
    </div>
    <div>
        <ul>
            <li>
                <span>id
                    <button onclick="$.idAsc();">△</button>
                    <button onclick="$.idDesc();">▽</button>
                </span>
                <span> : </span>
                <span>title
                        <button onclick="$.titleAsc();">△</button>
                        <button onclick="$.titleDesc();">▽</button>
                </span>
                <span> : </span>
                <span>
                    <label for="rowsOnePage">Row</label>
                    <select id="rowsOnePage">
                        <option value="5">5개씩</option>
                        <option selected value="10">10개씩</option>
                        <option value="20">20개씩</option>
                        <option value="30">30개씩</option>
                    </select>
                </span>
            </li>
        </ul>
        <ul id="BoardList"></ul>
        <div>total : <span id="total"></span></div>
        <button onclick="location.href='/board/board_insert_page'">게시글 등록</button><a href="/board/board_insert_page">게시글 등록</a>
        <div id="pageDiv">
        </div>
    </div>
    <button onclick="goBack();">홈 화면 이동</button>

<script src="/js/jquery-3.7.1.min.js"></script>
</body>
<script>
    let page = 0;
    let total = 0;
    let sortColumn = "id";
    let sortAscDesc = "DESC";
    let rowsOnePage = 10;

    $(function () {
        $.searchBoardList(1);

        $("#searchTitle").on("keyup",function (key){
            if(key.keyCode===13){
                $.searchBoardList(1);
            }
        })

        $("#rowsOnePage").change(function (){
            // Select 의 value 값은 문자열로 받음 >> 숫자로 바꾸기 위한 Number() 사용
            rowsOnePage = Number($("#rowsOnePage").val());
            $.searchBoardList(1);
        })

    })

   // function getAllList(){
   //      $.ajax({    // jQuery Ajax 비동기 서버와 통신
   //          url: "/api/board/showBoardList",  // 서버 주소
   //          type: "GET",   // method 방식
   //          datatype: "JSON",   // 전송하는 데이터 방식
   //          data: null,
   //          // 전송하는 실제 데이터 JSON 을 사용했다.
   //          contentType: "application/json; charset=UTF-8", // 응답받는 데이터 형식
   //      }).done(function (data, status, xhr) {
   //          console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
   //          if (status === "success") {
   //              $("#total").html(data.responseData.total);   // id="total" 요소의 <요소>문자</요소> html 의 문자를 설정한다.
   //              $.showBoardList(data.responseData);
   //          }
   //      }).fail(function (jqXHR, status, errorThrown) {
   //          console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
   //          alert("검색을 실패했습니다. " + jqXHR.responseJSON.message);
   //      });
   //  }

    $.searchBoardList = function (n){
        page = n;
        let searchTitle = $("#searchTitle").val();
        $.ajax({    // jQuery Ajax 비동기 서버와 통신
            url: "/api/board/searchTitle",  // 서버 주소
            type: "POST",   // method 방식
            datatype: "JSON",   // 전송하는 데이터 방식
            data: JSON.stringify({
                "page": page,
                "searchTitle": searchTitle,
                "sortColumn": sortColumn,
                "sortAscDsc": sortAscDesc,
                "rowsOnePage": rowsOnePage,
            }),
            // 전송하는 실제 데이터 JSON 을 사용했다.
            contentType: "application/json; charset=UTF-8", // 응답받는 데이터 형식
        }).done(function (data, status, xhr) {
            // ajax 의 요청이 완료되서 응답이 오면 실행한다.
            // data : 실제 응답 데이터
            // status : http 응답 성공 일 경우 "success"
            // xhr : 부가 정보
            console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
            // javascript 기본 객체 console 에 프린트한다.
            if (status === "success") {
                $("#total").html(data.responseData.total);   // id="total" 요소의 <요소>문자</요소> html 의 문자를 설정한다.
                $.showBoardList(data.responseData.dataList);
                $.makePageUI(data.responseData.total,page);
            }
        }).fail(function (jqXHR, status, errorThrown) {
            // ajax 의 요청이 실패하면 실행한다.
            // jqXHR : 부가 정보
            // status : http 응답, 4XX, 5XX
            // errorThrown : error 를 던진 곳의 정보
            console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
            alert("검색을 실패했습니다. " + jqXHR.responseJSON.message);
        });
    }

    $.showBoardList = function (boardList) {
        const list = $("#BoardList");
        list.children().remove();
        for (let i = 0; i < boardList.length; i++) {
            let id = boardList[i].id;
            let title = boardList[i].title;
            let content = boardList[i].content;
            let viewQty = boardList[i].viewQty;
            let likeQty = boardList[i].likeQty;
            let createName = boardList[i].createName;
            let createDt = boardList[i].createDt;
            let updateDt = boardList[i].updateDt;
            let strLi = `<a href="board_view?id=${id}">
                         <li><div><span>id : ${id}</span>
                                  <span>title : ${title}</span>
                                  <span>content : ${content}</span>
                                  <span>viewqty : ${viewQty}</span>
                                  <span>likeqty : ${likeQty}</span>
                                  <span>createName : ${createName}</span>
                                  <span>createdt : ${createDt}</span>
                                  <span>updateDt : ${updateDt}</span></div></li></a>`;
            list.append(strLi);
        }
    }

    $.idAsc = function (){
        sortColumn = "id";
        sortAscDesc = "ASC";
        $.searchBoardList(page);
    }

    $.idDesc = function (){
        sortColumn = "id";
        sortAscDesc = "DESC";
        $.searchBoardList(page);
    }

    $.titleAsc = function (){
        sortColumn = "title";
        sortAscDesc = "ASC";
        $.searchBoardList(page);
    }

    $.titleDesc = function (){
        sortColumn = "title";
        sortAscDesc = "DESC";
        $.searchBoardList(page);
    }

    $.makePageUI = function (paramTotal, paramPage) {
        // paramTotal : 전체 데이터 수
        // paramPage : 현재 페이지 번호
        let totPage = ~~((paramTotal + rowsOnePage - 1) / rowsOnePage);    // 전체 페이지 수
        let startPage = getStartPage(paramPage);
        let endPage = getEndPage(startPage, paramTotal);
        let prev = (paramPage - 1) < 1 ? 1 : paramPage - 1;
        let next = (paramPage + 1) >= totPage ? totPage : paramPage + 1;
        // let sClass = "btn btn-success rounded-pill";
        // class="${sClass}"

        $("#pageDiv").children().remove();
        $("#pageDiv").append(`<a onclick="$.searchBoardList(${prev});">Prev</a>`);

        for (let i = startPage; i <= endPage; i++) {
            if (paramPage == i) {
                // sClass = "btn btn-primary rounded-pill";
            }
            $("#pageDiv").append(`<a onclick="$.searchBoardList(${i});">${i}</a>`);
            // sClass = "btn btn-success rounded-pill";
        }

        $("#pageDiv").append(`<a onclick="$.searchBoardList(${next});">Next</a>`);
    }

    function getStartPage(page) {
        // 1~10 => 1, 11~20 => 11, 21~30 => 21
        // let startPage = ((page - 1) / 10) * 10 + 1;
        let one = 1;
        let ten = ~~((page - 1) / 10) * 10;
        let startPage = ten + one;
        return ~~(startPage);
    }

    function getEndPage(startPage, paramTotal) {
        // 시작페이지와 마지막페이지와 최종페이지 번호를 각각 비교해서
        // 1~56, 시작페이지 : 1,2,3,4,5,6,7,8,9,10 => end = 10
        // 1~56, 시작페이지 : 21,22,23,24,25,26,27,28,29,30 => end = 30
        // 1~56, 시작페이지 : 51,52,53,54,55,56 => end = 56
        let totPage = ~~((paramTotal + rowsOnePage - 1) / rowsOnePage);
        let tPage = startPage + 9;
        if (tPage < totPage) {
            return ~~(tPage);
        }
        return ~~(totPage);
    }

    const goBack = () => {
        location.href="/";
    }
</script>
</html>