.commentList{
    margin-top: 20px;;
}
#commentListField{
    margin-top: 20px;;
}
.updateBtn{
    display: inline-block;
    padding: 5px 10px; /* 버튼의 상하, 좌우 여백 */
    font-size: 12px; /* 글꼴 크기 */
    background-color: mediumblue;
    color: white; /* 글자색은 흰색 */
    border: none; /* 테두리 없애기 */
    border-radius: 4px; /* 모서리 둥글게 */
    cursor: pointer; /* 마우스 오버 시 포인터 모양 */
    transition: background-color 0.3s ease; /* 배경색 변화에 애니메이션 추가 */
}
.deleteBtn{
    display: inline-block;
    padding: 5px 10px; /* 버튼의 상하, 좌우 여백 */
    font-size: 12px; /* 글꼴 크기 */
    background-color: #f44336; /* 빨간색 배경 */
    color: white; /* 글자색은 흰색 */
    border: none; /* 테두리 없애기 */
    border-radius: 4px; /* 모서리 둥글게 */
    cursor: pointer; /* 마우스 오버 시 포인터 모양 */
    transition: background-color 0.3s ease; /* 배경색 변화에 애니메이션 추가 */
}
#modal_box_view {
    /* 모달 화면 안의 스타일, z-index: 값이 가장 크므로 화면의 상위에 표현된다.*/
    width: 70%;
    height: 850px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: azure;
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.modal_bg {
    /* 모달 화면이 나타나면 화면 안의 내용 div id="content" 를 어둡게 만든다.
        z-index 값을 content 보다 크므로 마우스 클릭시 modal_bg 에 클릭이 된다.
     */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}