<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div>
    <hr />
    <div>세션형 로그인</div>
    {{#webUser}}
    <div>
        <h2>{{nickname}}님 환영합니다 !</h2>

        <div><a href="/selogin/info">user/ 회원 정보보기</a></div>
        <button onclick="location.href='/selogin/info'">유저 정보</button> <br/><br/>
        <div><a href="/admin/infoSession">admin/ 관리자 정보보기</a></div>
        <button onclick="location.href='/admin/infoSession'">관리자 페이지</button> <br/><br/>

        <div><a href="/board/board_list">게시판 목록</a></div> <br/>
        <div><a href="/stomp/list">대화방 목록</a></div> <br/>
        <div><a href="/signout">로그아웃</a></div>
        <button onclick="location.href='/signout'">로그아웃</button>
    </div>
    {{/webUser}}
    {{^webUser}}
    <div>
        <h3>로그인 되어있지 않습니다!</h3>
        <div><a href="/board/board_list">게시판 목록</a></div> <br/>
        <div><a href="/selogin/signup">회원가입</a></div>
        <button onclick="location.href='/selogin/signup'">회원 가입</button>
        <div><a href="/selogin/login">로그인</a></div>
        <button onclick="location.href='/selogin/login'">로그인</button>

    </div>
    {{/webUser}}
</div>
</body>
</html>
